.TableItem {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid grey;

  &-data {
    border: 1px solid grey;
    padding: 8px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-row {
    &:nth-child(2n + 1) {
      background-color: rgba(151, 151, 151, 0.233);
    }
  }

  &-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-modal {
    width: 300px;
  }

  &-button-modal {
    margin: 10px auto;
    width: 80px;
  }
}
