.UserForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  &-input {
    padding: 12px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 7px;
  }
}
